<<<<<<< HEAD
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    body {
        background-color: lightblue;
    }
}


.task {
    background: gray;

=======
.task {
    background:gray;
>>>>>>> 6f891273215063c129ed0f0fb8bda3dea399f3e7
}